<html>
    <head>
        <title>Gwent App</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="//unpkg.com/vue-material@beta/dist/vue-material.min.css">
        <link rel="stylesheet" href="//unpkg.com/vue-material@beta/dist/theme/default.css">

        <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="//unpkg.com/vue-material@beta"></script>
    </head>
    <body>
        <div id="app">
            <md-app>
                <md-app-toolbar class="md-primary">
                    <span class="md-title">Gwent App</span>
                </md-app-toolbar>
                <md-app-content>
                    <p>This is an app!</p>
                </md-app-content>
            </md-app>
        </div>
    </body>
</html>